a {
  color: red;
  text-decoration: none;
}

body {
  background-color: rgb(69, 78, 78);
}

.App {
  text-align: center;
}

.company-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 
}

.companyDisplay {
  border: solid black;
  width: 25%;
}

.footer, .header {
  background-color:rgb(57, 68, 92);
  color: aliceblue;
  margin: 1fr;
  padding:5px;
}

.home {
  background-color:slategrey;
  color:aliceblue;
  min-height: 25rem;
  margin-top:1rem;
  margin-bottom: 1rem;
}

.nav-container {
  background-color: linen;
  color: slategray;
  display: inline;
}

.professional-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search {
  background-color: aliceblue;
  color: crimson;
}



